.container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.gridContainer {
  width: 100%;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, 200px);
  align-items: top;
  justify-content: center;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.drinkName {
  font-weight: normal;
  font-size: 1rem;
}
