.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-top: 1px dashed var(--color-grey-0);
}

.footer p {
  color: var(--color-grey-0);
  font-size: 0.75rem;
}
