@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap");

.logo {
  font-weight: normal;
  font-family: "Italiana", sans-serif;
  color: var(--color-light-1);
}
